<center><h1><font face="Courier">Post a song!</font></h1></center>

<form method="post" action="/songs">
  <center><div><font face="Courier">
    <label>Title:</label>
    <input type="text" name="title">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>Url:</label>
    <input type="text" name="url">
  </div>
  <div>
    <input type="submit" value="Submit">
  </font></div></center>
</form>